<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text="Atrás"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Añadir Asignatura</ion-label>
      <ion-input [(ngModel)]="categoryName"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addCategory()">Guardar</ion-button>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let category of categories">
      <ion-item-options side="start">
        <ion-item-option (click)="editCategory(category)">Editar</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>{{ category.name }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteCategory(category.id)"
          >Eliminar</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
