<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text="Atrás"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centrar">
    <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
    </ion-input>
    <ion-button size="large" (click)="createCode()" >
      <ion-icon name="qr-code"></ion-icon>
      Generar QR
    </ion-button>

    <ion-card *ngIf="createdCode">
      <ngx-qrcode [value]="createdCode"></ngx-qrcode>
     

      <ion-card-content>
          Value: {{ createdCode }}  <!-- home.page.ts-->
      </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
      <ion-card-content>
          Result from scan: {{ scannedCode }} <!-- home.page.ts-->
      </ion-card-content>
  </ion-card>
  
  </div>

</ion-content>
